---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.vue';
import NavBar from '../components/NavBar.vue';
import Vectors from '../components/svg/Vectors.vue';
import Card from '../components/Card.vue';
---

<Layout pageTitle="About Us">
    <Section variant="blue">
        <NavBar client:load />
    </Section>
    <Section variant="blue">
        <div class="lg:flex justify-between">
            <div class="space-y-4 pt-12 md:pt-20 lg:px-3 md:px-2 lg:pt-32">
                <span
                    class="text-white opacity-70 tracking-widest uppercase md:text-xl font-sans font-medium"
                    >We are bold, CodeBold</span
                >
                <h1 class="text-white text-4xl md:text-5xl">
                    We are passionate and fearless in everything we produce.
                </h1>
                <div class="text-white pt-5 space-y-2">
                    <p class="opacity-95">
                        We pride ourselves in being creative and passionate
                        people who work and learn together everyday as we
                        create, experiment and grow along the way. We value
                        everything we learn and experience and we make sure to
                        have that shine through in everything we do.
                    </p>
                    <p class="opacity-80">
                        Our mission is to make great things and have fun along
                        the way. As much as we value quality, we believe that
                        enjoying the work we do contributes to the great quality
                        of work we continuously produce and provide.
                    </p>
                </div>
            </div>
            <div>
                <Vectors
                    class="hidden -mr-[600px] -mt-16 md:-mt-[200px] md:block lg:-mt-[50px] lg:-mr-[450px] lg:w-[950px] xl:mt-0"
                    name="tunnel"
                />
            </div>
        </div>
        <div class="md:flex justify-end">
            <div>
                <Vectors
                    class="hidden absolute left-0 top-[500px] md:hidden lg:block lg:-ml-44 lg:w-[600px] xl:w-[850px] xl:-ml-64 2xl:-ml-0"
                    name="tower"
                />
            </div>
            <div>
                <Vectors
                    class="hidden absolute left-0 top-[950px] ml-44 lg:hidden md:block"
                    name="tower-inverted"
                />
            </div>
            <div class="md:-mt-64 lg:pt-48 lg:w-2/4 lg:px-12 xl:pt-48 pt-12">
                <span
                    class="text-white opacity-70 tracking-widest uppercase md:text-xl font-sans font-medium"
                    >We Care</span
                >
                <h1 class="text-white pt-5 text-4xl md:text-5xl">
                    We are bold and passionate in everything we do.
                </h1>
                <p class="opacity-80 text-white pt-5">
                    Many would say it is a tune as old as a song
                </p>
            </div>
        </div>

        <div
            class="grid pt-12 gap-y-4 space-y-8 text-white md:grid-cols-3 md:gap-x-4 lg:px-3 lg:pt-44 xl:pt-64 md:pt-[650px]"
        >
            <Card
                client:load
                borderVariant="yellow"
                title="Genuine"
                name="heart"
            >
                <h1 class="font-light text-center text-xl">
                    We connect in an authentic and genuine way
                </h1>
                <p class="font-thin">
                    We collaborate and interact with authenticity in mind. We
                    open our communications without drowning them in business
                    and corporate lingo. This allows us to connect with our
                    audience, clients and partners in a more authentic way which
                    in turn helps us provide better services and products.
                </p>
            </Card>

            <Card
                client:load
                borderVariant="sky-blue"
                title="Reliable"
                name="hand"
            >
                <h1 class="font-light text-center text-xl">
                    We are present at every step of the way
                </h1>
                <p class="font-thin">
                    We prioritize teamwork and good communication in all our
                    interactions, be it with each other at work or with our
                    audience and partners. We don’t just chase deadlines and
                    outputs, we also take care to consider the human needs
                    alongside the business needs in all our processes in order
                    to achieve our goals.
                </p>
            </Card>

            <Card
                client:load
                borderVariant="pink"
                title="Passionate"
                name="fire"
            >
                <h1 class="font-light text-center text-xl">
                    We care about our craft and the quality of our work
                </h1>
                <p class="font-thin">
                    We value learning and growth and use our everyday learning
                    experiences to improve and provide high quality work and
                    services. We follow our curiosity and have fun experimenting
                    with our work to get better insights and results.
                </p>
            </Card>

            <!-- <Card borderVariant="sky-blue">
                <div class="text-center pt-12 grid place-items-center">
                    <Vectors
                        class="w-full absolute z-0 opacity-20"
                        name="hand"
                    />
                    <span class="text-4xl">Reliable</span>
                </div>

                <div class="space-y-3 pt-12">
                    <h1 class="font-light text-center text-xl">
                        We are present at every step of the way
                    </h1>
                    <p class="font-thin">
                        We prioritize teamwork and good communication in all our
                        interactions, be it with each other at work or with our
                        audience and partners. We don’t just chase deadlines and
                        outputs, we also take care to consider the human needs
                        alongside the business needs in all our processes in
                        order to achieve our goals.
                    </p>
                </div>
            </Card>

            <Card borderVariant="pink">
                <div class="text-center pt-12 grid place-items-center">
                    <Vectors
                        class="w-full absolute z-0 opacity-20"
                        name="fire"
                    />
                    <span class="text-4xl">Passionate</span>
                </div>

                <div class="space-y-3 pt-12">
                    <h1 class="font-light text-center text-xl">
                        We care about our craft and the quality of our work
                    </h1>
                    <p class="font-thin">
                        We value learning and growth and use our everyday
                        learning experiences to improve and provide high quality
                        work and services. We follow our curiosity and have fun
                        experimenting with our work to get better insights and
                        results.
                    </p>
                </div>
            </Card> -->
        </div>
    </Section>
</Layout>
