---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.vue';
import NavBar from '../components/NavBar.vue';
import Vectors from '../components/svg/Vectors.vue';
import Card from '../components/Card.vue';
---

<Layout pageTitle="About Us">
    <Section variant="blue">
        <NavBar client:load />
    </Section>
    <Section variant="blue">
        <div class="lg:flex justify-between">
            <div class="space-y-4 pt-12 md:pt-20 lg:px-3 md:px-2 lg:pt-28">
                <span
                    class="text-white opacity-70 tracking-widest uppercase md:text-xl font-sans font-medium"
                    >We are bold, CodeBold</span
                >
                <h1 class="text-white text-4xl md:text-5xl">
                    We are passionate and fearless in everything we produce.
                </h1>
                <div class="text-white pt-5 space-y-2">
                    <p class="opacity-95">
                        We pride ourselves in being creative and passionate
                        people who work and learn together everyday as we
                        create, experiment and grow along the way. We value
                        everything we learn and experience and we make sure to
                        have that shine through in everything we do.
                    </p>
                    <p class="opacity-80">
                        Our mission is to make great things and have fun along
                        the way. As much as we value quality, we believe that
                        enjoying the work we do contributes to the great quality
                        of work we continuously produce and provide.
                    </p>
                </div>
            </div>
            <div>
                <Vectors
                    class="hidden -mr-[600px] -mt-16 md:-mt-[200px] md:block lg:-mt-[50px] lg:-mr-[450px] lg:w-[950px] xl:mt-0"
                    name="tunnel"
                />
            </div>
        </div>
        <div class="md:flex justify-end">
            <div>
                <Vectors
                    class="hidden absolute left-0 top-[500px] md:hidden lg:block lg:-ml-44 lg:w-[600px] xl:w-[850px] xl:-ml-64 2xl:-ml-0"
                    name="tower"
                />
            </div>
            <div>
                <Vectors
                    class="hidden absolute left-0 top-[950px] ml-44 lg:hidden md:block"
                    name="tower-inverted"
                />
            </div>
            <div class="md:-mt-64 lg:pt-48 lg:w-2/4 lg:px-12 xl:pt-48 pt-12">
                <span
                    class="text-white opacity-70 tracking-widest uppercase md:text-xl font-sans font-medium"
                    >We Care</span
                >
                <h1 class="text-white pt-5 text-4xl md:text-5xl">
                    We are bold and passionate in everything we do.
                </h1>
                <p class="opacity-80 text-white pt-5">
                    Many would say it is a tune as old as a song
                </p>
            </div>
        </div>

        <div
            class="grid pt-12 gap-y-4 space-y-8 text-white md:grid-cols-3 md:gap-x-4 lg:px-3 lg:pt-44 xl:pt-64 md:pt-[650px] xl:px-0"
        >
            <Card
                client:load
                borderVariant="yellow"
                title="We connect in an authentic and genuine way"
                description="We collaborate and interact with authenticity in mind. We open our communications without drowning them in business and corporate lingo. This allows us to connect with our audience, clients and partners in a more authentic way which in turn helps us provide better services and products."
                head="Genuine"
                name="heart"
            />

            <Card
                client:load
                title="We are present at every step of the way"
                description="We prioritize teamwork and good communication in all our interactions, be it with each other at work or with our audience and partners. We dont just chase deadlines and outputs, we also take care to consider the human needs alongside the business needs in all our processes in order to achieve our goals."
                borderVariant="sky-blue"
                head="Reliable"
                name="hand"
            />

            <Card
                client:load
                title="We care about our craft and the quality of our work"
                description="We value learning and growth and use our everyday learning experiences to improve and provide high quality work and services. We follow our curiosity and have fun experimenting with our work to get better insights and results."
                borderVariant="pink"
                head="Passionate"
                name="fire"
            />
        </div>
        <div class="bg-red-600 max-w-4xl mx-auto">
            <p>asdasd</p>
        </div>
    </Section>
</Layout>
