---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.vue';
import NavBar from '../components/NavBar.vue';
import Vectors from '../components/svg/Vectors.vue';
import Card from '../components/Card.vue';
---

<Layout pageTitle="About Us">
    <Section variant="blue">
        <NavBar client:load />
    </Section>
    <Section variant="blue">
        <div class="lg:flex justify-between">
            <div class="space-y-4 pt-12 md:pt-20 lg:px-3 md:px-2 lg:pt-28">
                <span
                    class="text-white opacity-70 tracking-widest uppercase md:text-xl font-sans font-medium"
                    >We are bold, CodeBold</span
                >
                <h1 class="text-white text-4xl md:text-5xl">
                    We are passionate and fearless in everything we produce.
                </h1>
                <div class="text-white pt-5 space-y-2">
                    <p class="opacity-95">
                        We pride ourselves in being creative and passionate
                        people who work and learn together everyday as we
                        create, experiment and grow along the way. We value
                        everything we learn and experience and we make sure to
                        have that shine through in everything we do.
                    </p>
                    <p class="opacity-80">
                        Our mission is to make great things and have fun along
                        the way. As much as we value quality, we believe that
                        enjoying the work we do contributes to the great quality
                        of work we continuously produce and provide.
                    </p>
                </div>
            </div>
            <div>
                <Vectors
                    class="hidden -mr-[600px] -mt-16 md:-mt-[200px] md:block lg:-mt-[50px] lg:-mr-[450px] lg:w-[950px] xl:mt-0"
                    name="tunnel"
                />
            </div>
        </div>
        <div class="md:flex justify-end">
            <div>
                <Vectors
                    class="hidden absolute left-0 top-[500px] md:hidden lg:block lg:-ml-44 lg:w-[600px] xl:w-[850px] xl:-ml-64 2xl:-ml-0"
                    name="tower"
                />
            </div>
            <div>
                <Vectors
                    class="hidden absolute left-0 top-[950px] ml-44 lg:hidden md:block"
                    name="tower-inverted"
                />
            </div>
            <div class="md:-mt-64 lg:pt-48 lg:w-2/4 lg:px-12 xl:pt-48 pt-12">
                <span
                    class="text-white opacity-70 tracking-widest uppercase md:text-xl font-sans font-medium"
                    >We Care</span
                >
                <h1 class="text-white pt-5 text-4xl md:text-5xl">
                    We are bold and passionate in everything we do.
                </h1>
                <p class="opacity-80 text-white pt-5">
                    Many would say it is a tune as old as a song
                </p>
            </div>
        </div>

        <div
            class="grid pt-12 gap-y-4 space-y-8 text-white md:grid-cols-3 md:gap-x-4 lg:px-3 lg:pt-44 xl:pt-64 md:pt-[650px] xl:px-0"
        >
            <Card
                client:load
                borderVariant="yellow"
                title="We connect in an authentic and genuine way"
                description="We collaborate and interact with authenticity in mind. We open our communications without drowning them in business and corporate lingo. This allows us to connect with our audience, clients and partners in a more authentic way which in turn helps us provide better services and products."
                head="Genuine"
                name="heart"
            >
                <h1 class="font-light text-center text-xl">
                    We connect in an authentic and genuine way
                </h1>
                <p class="font-thin mt-5">
                    We collaborate and interact with authenticity in mind. We
                    open our communications without drowning them in business
                    and corporate lingo. This allows us to connect with our
                    audience, clients and partners in a more authentic way which
                    in turn helps us provide better services and products.
                </p>
            </Card>

            <Card
                client:load
                title="We are present at every step of the way"
                description="We prioritize teamwork and good communication in all our interactions, be it with each other at work or with our audience and partners. We dont just chase deadlines and outputs, we also take care to consider the human needs alongside the business needs in all our processes in order to achieve our goals."
                borderVariant="sky-blue"
                head="Reliable"
                name="hand"
            >
                <h1 class="font-light text-center text-xl">
                    We are present at every step of the way
                </h1>
                <p class="font-thin mt-5">
                    We prioritize teamwork and good communication in all our
                    interactions, be it with each other at work or with our
                    audience and partners. We don’t just chase deadlines and
                    outputs, we also take care to consider the human needs
                    alongside the business needs in all our processes in order
                    to achieve our goals.
                </p>
            </Card>

            <Card
                client:load
                title="We care about our craft and the quality of our work"
                description="We value learning and growth and use our everyday learning experiences to improve and provide high quality work and services. We follow our curiosity and have fun experimenting with our work to get better insights and results."
                borderVariant="pink"
                head="Passionate"
                name="fire"
            >
                <h1 class="font-light text-center text-xl">
                    We care about our craft and the quality of our work
                </h1>
                <p class="font-thin mt-5">
                    We value learning and growth and use our everyday learning
                    experiences to improve and provide high quality work and
                    services. We follow our curiosity and have fun experimenting
                    with our work to get better insights and results.
                </p>
            </Card>
        </div>
        <div class="max-w-4xl mx-auto space-y-4 py-12 xl:py-64">
            <span
                class="text-white opacity-70 tracking-widest uppercase md:text-xl font-sans font-medium"
            >
                Our Story
            </span>
            <h1 class="text-white text-4xl pb-4 md:text-5xl">
                Starting this company was a way of fighting for his story
            </h1>
            <div
                class="grid md:grid-cols-2 gap-x-6 gap-y-4 text-white font-thin"
            >
                <p>
                    Founded in 2021 by Andreas Madsen, an avid book reader who
                    always loved the idea of storytelling. Being the type of
                    person who prefers staying at home, he spent most of his
                    time on the internet or playing games.
                </p>
                <p>
                    The internet made a huge impact in his life, as this allowed
                    him to gain independence from the usual traditional career
                    path. To his delight, this also became the channel for him
                    to connect with cool and like-minded people that he felt
                    safe to share his story with.
                </p>
                <p>
                    He bonded with them through playing games and they created a
                    world where each had their own characters. Despite not
                    knowing each other in person, a lot of meaningful
                    friendships and fun memories had been created this way. This
                    community grew over the years.
                </p>
                <p>
                    But as time went by, each person had gone their own way. The
                    experience he had with them made such a powerful impact on
                    him that he felt he didn't want to end the story on that
                    note.
                </p>
                <p>
                    Starting this company was a way of fighting for his story,
                    to let their characters live in the world they created even
                    if it's not originally as it was.
                </p>
                <p class="font-bold">
                    We are CodeBold and we tell stories like no one else does.
                </p>
            </div>
        </div>
    </Section>

    <Section variant="white">
        <div class="max-w-4xl mx-auto space-y-4 py-24">
            <span
                class="text-brand-secondary-gray-dark opacity-70 tracking-widest uppercase md:text-xl font-sans font-medium"
            >
                This is how we do it
            </span>
            <h1
                class="text-brand-secondary-gray-dark w-96 font-medium leading-3 text-4xl pb-4 md:text-5xl"
            >
                At the heart of how we work is collaboration
            </h1>

            <div class="flex justify-end pt-16">
                <div class="max-w-xl">
                    <div class="flex space-x-8">
                        <div>
                            <span
                                class="text-brand-secondary-gray-dark opacity-70 tracking-widest uppercase font-medium"
                            >
                                People-First Approach
                            </span>
                            <p
                                class="text-brand-secondary-gray-dark mt-5 text-opacity-80"
                            >
                                We value empathy and understanding in all our
                                interactions whether it’s with our audiences and
                                clients or with each other while we work
                                together. As much as we value creating quality
                                work we also prioritize being able to understand
                                and approach our interactions with empathy and
                                honesty in mind.
                            </p>
                        </div>
                        <div>
                            <span
                                class="text-brand-secondary-gray-dark opacity-70 tracking-widest uppercase font-medium"
                            >
                                Inclusive - Remote First Mindset
                            </span>
                            <p
                                class="text-brand-secondary-gray-dark mt-5 text-opacity-80"
                            >
                                We value empathy and understanding in all our
                                interactions whether it’s with our audiences and
                                clients or with each other while we work
                                together. As much as we value creating quality
                                work we also prioritize being able to understand
                                and approach our interactions with empathy and
                                honesty in mind.
                            </p>
                        </div>
                    </div>
                    <div class="pt-8">
                        <h4
                            class="text-brand-secondary-gray-dark font-medium leading-3 text-4xl pb-4 md:text-3xl"
                        >
                            How we work together - remotely
                        </h4>
                        <p
                            class="text-brand-secondary-gray-dark text-opacity-80"
                        >
                            As Celine Dion would say “Near, Far, Wherever you
                            are”. We also believe that our hearts will go on and
                            follow our passion and dedication to creating and
                            providing quality content and services wherever we
                            may be. We make sure to put in the same care and
                            attention to how we collaborate with each other.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </Section>
</Layout>
