---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.vue';
import Footer from '../components/Footer.vue';
import NavBar from '../components/NavBar.vue';
---

<Layout pageTitle="About Us">
    <Section variant="blue">
        <NavBar client:load />
    </Section>
    <Section variant="blue">
        <div class="text-white py-12">
            <h1 class="text-5xl font-sans font-medium">we are bold codebold</h1>
        </div>
    </Section>
</Layout>
