---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.vue';
import Footer from '../components/Footer.vue';
import NavBar from '../components/NavBar.vue';
import ButtonLink from '../components/ButtonLink.vue';
import Vectors from '../components/svg/Vectors.vue';
import CareerCard from '../components/CareerCard.vue';
---

<Layout pageTitle="Careers">
    <Section variant="blue">
        <NavBar client:load />
    </Section>
    <Section variant="blue">
        <div
            class="md:flex justify-between pt-8 space-y-2 py-12 md:px-5 lg:px-0"
        >
            <div class="w-full">
                <span
                    class="text-gray-300 opacity-50 tracking-widest uppercase md:text-xl font-sans font-medium"
                    >Careers
                </span>
                <h1 class="text-white text-4xl md:text-5xl font-semibold">
                    Open Positions
                </h1>
            </div>
            <p class="text-gray-300 max-w-sm pt-5 md:pt-0">
                We do more than provide jobs, we nurture careers. Each member of
                Circinius receives training, mentoring, and industry exposure —
                all the right things needed to build a thriving career.
            </p>
        </div>
    </Section>

    <div class="py-4 border-b w-full px-3 md:px-8 lg:px-0">
        <div
            class="flex space-x-8 max-w-5xl mx-auto text-brand-secondary-gray-dark text-opacity-80 3xl:max-w-7xl"
        >
            <div class="w-[500px]">
                <label
                    for="category"
                    class="block text-sm font-semibold uppercase"
                >
                    Filter by area of interest
                </label>
                <select
                    id="category"
                    name="category"
                    class="mt-2 block w-full focus:outline-none"
                >
                    <option selected>All</option>
                </select>
            </div>

            <div class="hidden md:block">
                <ButtonLink class="mt-2.5" variant="primary-gradient">
                    <span>Apply Filters</span>
                </ButtonLink>
            </div>
        </div>
    </div>

    <Section variant="white">
        <div class="text-center py-12">
            <div class="flex justify-center">
                <Vectors class="mt-12" name="alert" />
            </div>

            <div class="text-brand-secondary-gray-dark space-y-5">
                <h3 class="font-semibold mt-8">
                    Sorry, there are no positions available at this time
                </h3>
                <p class="font-light mx-auto md:w-96">
                    We will post as soon as we have an open position. Please
                    come back again at another time.
                </p>
                <ButtonLink
                    href="/"
                    class="w-48 font-medium text-sm uppercase py-3"
                >
                    Go back home
                </ButtonLink>
            </div>
        </div>
    </Section>
</Layout>
