---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.vue';
import Footer from '../components/Footer.vue';
---

<Layout pageTitle="Home">
    <Section variant="blue">
        <div class="text-white py-12">
            <h1 class="text-5xl font-sans font-medium">
                We Tell Great Stories
            </h1>
            <p>
                We are a small company with big dreams and ambitions and an even
                bigger passion for creativity.
            </p>
        </div>
    </Section>

    <Footer />
</Layout>
