---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.vue';
import NavBar from '../components/NavBar.vue';
import Vectors from '../components/svg/Vectors.vue';
---

<Layout pageTitle="Home">
    <Section variant="blue">
        <NavBar client:load />
    </Section>
    <section>
        <div
            class="bg-gradient-to-r from-brand-primary-blue via-brand-primary-blue to-brand-primary-blue-lighter py-8 lg:py-24 md:py-12"
        >
            <div class="text-white">
                <div class="max-w-5xl mx-auto px-3 space-y-6">
                    <h1
                        class="lg:text-7xl font-sans font-medium max-w-md md:text-6xl text-5xl"
                    >
                        We Tell <br /> Great Stories
                    </h1>
                    <p class="md:w-96 text-lg">
                        We are a small company with big dreams and ambitions and
                        an even bigger passion for creativity.
                    </p>
                </div>
                <img
                    class="w-full md:hidden"
                    src="/illustrations.png"
                    alt="illustrations"
                />

                <div class="flex justify-between md:-mt-20 xl:mt-0">
                    <div
                        class="flex justify-between ml-12 3xl:ml-64 3xl:w-2/4 xl:w-3/5 lg:w-7/12 md:w-8/12 md:ml-2"
                    >
                        <!-- MD Screen -->
                        <Vectors
                            class="absolute right-0 top-0 lg:hidden md:block hidden"
                            name="mascot-md"
                        />
                        <Vectors
                            class="mt-24 h-96 lg:hidden md:block hidden"
                            name="crown-slime-md"
                        />
                        <Vectors
                            class="mt-36 h-96 lg:hidden md:block hidden"
                            name="angel-slime-md"
                        />
                        <Vectors
                            class="mt-44 h-96 lg:hidden md:block hidden"
                            name="gameboy-md"
                        />
                        <Vectors
                            class="mt-20 h-96 lg:hidden md:block hidden"
                            name="controller-md"
                        />

                        <!-- XL Screen -->
                        <Vectors
                            class="lg:w-36 lg:block md:hidden xl:w-[250px] hidden"
                            name="crown-slime"
                        />
                        <Vectors
                            class="mt-28 lg:w-36 lg:block md:hidden xl:w-[250px] hidden"
                            name="angel-slime"
                        />
                        <Vectors
                            class="mt-40 lg:w-36 lg:block md:hidden xl:w-[250px] hidden"
                            name="gameboy"
                        />

                        <Vectors
                            class="lg:w-36 lg:block md:hidden xl:w-[250px] hidden"
                            name="controller"
                        />
                    </div>

                    <Vectors
                        class="absolute right-0 lg:top-4 xl:top-28 lg:w-[400px] xl:w-[550px] lg:block md:hidden hidden"
                        name="mascot-lg"
                    />
                </div>
                <div
                    class="md:flex md:justify-between md:items-center 3xl:-mt-64"
                >
                    <Vectors
                        class="lg:-mt-72 3xl:ml-64 md:-mt-72 md:block hidden"
                        name="computer"
                    />
                    <Vectors
                        class="-ml-16 md:-mt-[550px] md:block hidden"
                        name="pirate-slime"
                    />

                    <div
                        class="md:w-2/4 md:px-12 lg:space-y-4 space-y-2 xl:mt-48 px-3 pt-8"
                    >
                        <span
                            class="uppercase text-xl lg:text-4xl text-indigo-300"
                            >We Are</span
                        >
                        <h1 class="uppercase font-bold lg:text-7xl text-4xl">
                            CodeBold
                        </h1>
                        <div
                            class="max-w-md text-justify space-y-6 text-sm lg:text-base"
                        >
                            <p>
                                A group of passionate, creative people working
                                together and creating things and overcoming
                                challenges together. We work as a team
                                fearlessly experimenting and moving forward in
                                our endeavors to create things that spark wonder
                                in the world.
                            </p>

                            <p class="text-indigo-300">
                                Our Mission is to tell stories like no one else
                                does. We aim to inspire people to tell their
                                story with the experiences we create while
                                having fun along the way.
                            </p>
                        </div>

                        <a
                            href="#"
                            class="uppercase text-sm text-indigo-300 flex items-center underline-offset-8 underline decoration-2 decoration-brand-secondary-pink font-semibold"
                        >
                            Learn more about us
                            <span class="mr-3">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="2"
                                    stroke="currentColor"
                                    class="w-3.5 h-3.5 ml-1"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <!-- Mobile View -->
        <div
            class="bg-[url('./cat-image-center.png')] bg-no-repeat w-full h-screen bg-center bg-cover mr-12 relative md:hidden"
        >
            <div
                class="bg-black bg-opacity-50 absolute h-36 w-full bottom-0 px-3"
            >
                <div class="text-white space-y-1 py-3">
                    <span class="uppercase text-gray-500 font-semibold"
                        >Our Work</span
                    >
                    <h1 class="font-semibold text-4xl">Concept Art</h1>
                    <a
                        href="#"
                        class="underline-offset-8 underline decoration-2 decoration-brand-secondary-pink font-semibold uppercase w-full pb-1 flex items-center text-white text-xs"
                    >
                        See portfolio
                        <span class="mr-3">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                class="w-3.5 h-3.5 ml-3 text-white"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Desktop View -->
        <div
            class="bg-[url('./cat-image.png')] bg-no-repeat w-full h-screen bg-center bg-cover mr-12 md:block hidden px-3"
        >
            <div class="max-w-5xl mx-auto pt-20">
                <div class="text-white space-y-4 py-3">
                    <span class="uppercase font-semibold text-xl opacity-80"
                        >Our Work</span
                    >
                    <h1 class="font-semibold text-7xl">Concept Art</h1>
                    <a
                        href="#"
                        class="underline-offset-8 underline decoration-2 decoration-brand-secondary-pink font-semibold uppercase w-full pb-1 flex items-center text-white text-xl"
                    >
                        See portfolio
                        <span class="mr-3">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                class="w-3.5 h-3.5 ml-3 text-white"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <Section variant="white">
        <div class="max-w-4xl mx-auto py-12 md:py-24 px-3">
            <span class="text-gray-400 uppercase font-medium">Our Services</span
            >
            <h1 class="md:text-7xl text-gray-600 font-semibold text-4xl">
                What We Do
            </h1>

            <div
                class="md:flex md:flex-row-reverse justify-between mt-8 items-center"
            >
                <div class="text-brand-primary-blue font-bold text-xl">
                    <p>Comic Art</p>
                    <p>Book Illustration</p>
                    <p>Concept Art</p>
                    <p>Character Design</p>
                    <p>Environment Art</p>
                    <p>Game Assets</p>
                </div>
                <div class="text-gray-500 md:w-[500px] space-y-4 mt-5">
                    <p class="font-light">
                        We develop creative projects like webcomics, game
                        development and also offer game hosting services. We
                        dedicate ourselves to creating and working on projects
                        that we are passionate about and that bring enjoyment
                        not just to ourselves but also to our audiences.
                    </p>
                    <p class="text-sm font-light">
                        We value quality in all that we do. And we aim to
                        provide meaningful solutions and insights to all our
                        clients and partners.
                    </p>
                </div>
            </div>
        </div>
    </Section>
</Layout>
