---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.vue';
import Footer from '../components/Footer.vue';
import NavBar from '../components/NavBar.vue';
---

<Layout pageTitle="Our Work">
    <Section variant="White">
        <NavBar client:load />
    </Section>
    <Section variant="white">
        <div class="lg:px-4 pt-8 space-y-2">
            <span
                class="text-brand-secondary-gray-dark opacity-50 tracking-widest uppercase md:text-xl font-sans font-medium"
                >Our Work
            </span>
            <h1
                class="text-brand-primary-blue text-4xl md:text-5xl font-semibold"
            >
                Environment Art
            </h1>
        </div>
    </Section>

    <img
        class="pt-12 bg-cover md:w-full"
        draggable="false"
        src="'../../images/cliff.png"
        alt=""
    />

    <Section variant="white">
        <div
            class="lg:flex lg:flex-row-reverse justify-between py-8 max-w-3xl mx-auto text-brand-secondary-gray-dark text-opacity-80"
        >
            <div class="lg:ml-32">
                <h4 class="font-bold text-2xl text-gray-600">
                    Immersive island
                </h4>
                <p class="mt-4">
                    On the weekend of the 25th of July Tomorrowland fans from
                    all around the world (1 million people!!) immersed
                    themselves into a magical world for 2 days. Thanks to an
                    immersive WebGL experience made for both mobile and desktop
                    fans could listen to their favorite artists around the
                    world, from the comfort of their home.
                </p>
            </div>

            <div class="space-y-6 w-full">
                <span class="w-32 h-4 bg-red-600"></span>
                <h4 class="uppercase font-semibold">Environments</h4>
                <ul class="flex flex-col">
                    <a href="#">Architecture and Sets</a>
                    <a href="#">Prop Art and Foliage</a>
                    <a href="#">Mobile Assets</a>
                    <a href="#">Level Design</a>
                </ul>
            </div>
        </div>
    </Section>

    <img
        class="bg-cover md:w-full"
        draggable="false"
        src="'../../images/vendor.png"
        alt=""
    />

    <Section variant="white">
        <div
            class="mx-auto max-w-lg py-8 text-brand-secondary-gray-dark text-opacity-80"
        >
            <h4 class="font-bold text-2xl text-gray-600">
                It’s all in the details
            </h4>
            <p class="mt-4">
                To immerse visitors, we added so many little elements to make
                the island feel alive, positioning all of them was done through
                a wysiwyg fully editable spline system so that the team of
                Tomorrowland could help us define the best placements for them.
                Most probably the best trick to add production value in this.
            </p>
        </div>
    </Section>

    <img
        class="lg:pt-12 bg-cover md:w-full"
        draggable="false"
        src="'../../images/world.png"
        alt=""
    />

    <Section variant="white">
        <div class="py-8 lg:px-4">
            <h4
                class="text-lg text-gray-600 uppercase font-medium tracking-widest 2xl:text-2xl"
            >
                bringing it to life
            </h4>
            <p
                class="mt-4 w-full md:w-96 font-light text-brand-secondary-gray-dark text-opacity-80"
            >
                In our case they were crucial to nail that magical feeling that
                Tomorrowland is so known for and translate it to an online
                platform.
            </p>
        </div>

        <div class="flex justify-center w-full space-x-8 lg:px-4 lg:py-12">
            <img
                class="w-32 md:w-72 lg:w-96 xl:w-full"
                draggable="false"
                src="'../../images/sketch-cloud.png"
                alt=""
            />
            <img
                class="w-32 md:w-72 lg:w-96 xl:w-full"
                draggable="false"
                src="'../../images/3d-cloud.png"
                alt=""
            />
        </div>

        <img
            class="mt-8 hidden lg:block md:w-full"
            draggable="false"
            src="'../../images/sinking-house.png"
            alt=""
        />
    </Section>

    <img
        class="bg-cover block lg:hidden md:w-full"
        draggable="false"
        src="'../../images/sinking-house.png"
        alt=""
    />
</Layout>
