---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.vue';
import Footer from '../components/Footer.vue';
import NavBar from '../components/NavBar.vue';
---

<Layout pageTitle="Our Work">
    <Section variant="White">
        <NavBar client:load />
    </Section>
    <Section variant="white">
        <div class="pt-8 space-y-2">
            <span
                class="text-brand-secondary-gray-dark opacity-50 tracking-widest uppercase md:text-xl font-sans font-medium"
                >Our Work
            </span>
            <h1
                class="text-brand-primary-blue text-4xl md:text-5xl font-semibold"
            >
                Environment Art
            </h1>
        </div>
    </Section>

    <img class="pt-12" src="'../../images/cliff.png" alt="" />
</Layout>
