---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import NavBar from '../components/NavBar.vue';
import Section from '../components/Section.vue';

export interface Props {
    pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead
            title={`${SITE_TITLE} | ${pageTitle}`}
            description={SITE_DESCRIPTION}
        />
    </head>
    <body>
        <Section variant="blue">
            <NavBar client:load />
        </Section>
        <slot />
    </body>
</html>
