---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.vue';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

export interface Props {
    pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead
            title={`${SITE_TITLE} | ${pageTitle}`}
            description={SITE_DESCRIPTION}
        />
    </head>
    <body>
        <main>
            <slot />
        </main>

        <Footer />
    </body>
</html>
